<h1>Admin Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Login Time</th>
      <th>Task Description</th>
      <th>Task Timing</th>
      <th>Logout Time</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.timestamp }}</td>
      <td>
        <div *ngFor="let task of groupedUsers[user.email]?.tasks">
          {{ task.task }}
        </div>
      </td>
      <td>
        <div *ngFor="let task of groupedUsers[user.email]?.tasks">
          {{ task.loginTime }}
        </div>
      </td>
      <td>{{ user.logouttime }}</td>
      <td>
        <div>{{ location?.city }} {{ location?.region }}</div>
      </td>
    </tr>
  </tbody>
</table>

<button id="exportbtn" (click)="exportDataToExcel()">Export Data to Excel</button>